# Intellij project files
.idea/
*.iml

# VSCode workspace settings
.vscode/

# doc working areas
docenv/
site/

# z390.properties file (use relver to create)
z390.properties

# z390 dist and build
/dist/
/build/

# generated spm files in mac/spm except readme
mac/spm/*
!mac/spm/README.md

# work files created for codepage tests
tests/codepage/mlcwork/*

# Java compiler output stuff
**/*.[jJ][aA][rR]
**/*.[eEe][xX][eE]
**/*.[lL][iI][nN][kK]
**/*.[mM][aA][pP]

# Assembler/emulator and other input stuff
# **/*.bat --> Dos command files
# **/*.cbl --> Cobol source code
# **/*.cpy --> Assembler copy members
# **/*.in[0-9] --> Test input data
# **/*.ini --> Initialization file
# **/*.ivp --> Data for Installation Verification Procedure
# **/*.js  --> javascript
# **/*.lkd --> Link-edit instructions
# **/*.mac --> Macro definitions
# **/*.man --> Manifesto file
# **/*.mcr --> Macro definitions
# **/*.mlc --> Assembler source code
# **/*.opt --> Assembler options file
# **/*.patch-> patch script
# **/*.pl  --> perl script
# **/*.rt  --> regression test scripts
# **/*.rtf --> rtf documents
# **/*.tf[1-3] --> test data files
# **/*.tq[1-3] --> test data files
# **/*.txt --> plain text documents
# **/*.ver --> version info files
# **/*.xgt --> XGET input file
# **/*.xrd --> XREAD input file
# **/*.zap --> Superzap script files
# **/*.zsm --> HLASM source code needing to be pre-processed by ZSTRMAC
# util/superzap/*.sav --> Saved version of input file

# Assembler/emulator output stuff
[jJ][aA][rR]*/
**/*.class
**/*.390
**/*.[bB][aA][lL]
**/*.[dD][fF]?
**/*.[dD][iI]?
**/*.[eE][rR][rR]
**/*.[hH][lL][aA]
**/*.[iI][mM][gG]
**/*.[lL][oO][gG]
**/*.[lL][sS][tT]
**/*.[oO][bB][jJ]
**/*.[oO][uU][tT]
**/*.[pP][cC][hH]
**/*.[pP][rR]1
**/*.[pP][rR][nN]
**/*.[rR][pP][tT]
**/*.[sS][fF][0-9]
**/*.[sS][tT][aA]
**/*.[sS][vV]*
**/*.[tT][fF][0-9]
!**/*.[tT][fF][1-3]
**/*.[tT][rR]?
**/*.[tT][sS][tT]
# *.XPH / *.XPR / *.XPT
**/*.[xX][pP][hHrRtT]
**/*_ZC_LABELS.CPY

# Other output stuff
**/[aA][lL][lL]/
**/[cC][lL][aA][sS][sS][eE][sS]/
**/[dD][iI][fF]/
**/[dD][iI][fF][fF]/
**/[sS][aA][vV][eE]/
**/*.[bB][mM][kK]
**/*.[hH][tT][mM]
**/*.[hH][tT][mM][lL]
**/*.[oO][tT][1-9]
# *.RLE / *.RLG / *.RUE / *.RUG
**/*.[rR][lLuU][eEgG]
**/*.[uU][lL][dD]
**/*.[uU][rR][fF]
**/*.[vV][eE][sS]
# *.VX0 / *.VXN
**/*.[vV][xX][0nN]
**/DEMOCAT.[nN][eE][wW]
**/RTGENCMP.[dD][aA][tT]
**/ZAPDEMO1.[dD][aA][tT]
**/rtgendr[1-3].[dD][aA][tT]
**/RTGENDIF.[dD][aA][tT]
util/superzap/*.[dD][aA][tT]

# redirection files
**/*.[lL][nN][kK]

# Cobol related stuff
**/.[cC][bB][lL]
zcobol/**/*.[hH][lL][aA]
zcobol/**/*.[dD][eE][cC]
zcobol/**/[zZ]390
!zcobol/**/[zZ]390/
zcobol/demo/i586/
zcobol/demo/java/
zcobol/demo/vce/
zcobol/demo/z390/
zcobol/test/z390/

# Generated .mlc files
cics/TESTBEC1.[mM][lL][cC]
cics/TESTBEC2.[mM][lL][cC]
cics/TESTBEC4.[mM][lL][cC]
cics/TESTBEC5.[mM][lL][cC]
cics/TESTBEC6.[mM][lL][cC]
cics/TESTBEC7.[mM][lL][cC]
cics/TESTBEC8.[mM][lL][cC]
cics/TESTBEC9.[mM][lL][cC]
cics/TESTBMC1.[mM][lL][cC]
cics/TESTGUIC.[mM][lL][cC]
cics/TESTICC1.[mM][lL][cC]
cics/TESTVSC1.[mM][lL][cC]
cics/TESTVSC2.[mM][lL][cC]
cics/TESTVSC3.[mM][lL][cC]
# demo/DEMOM8Q1.[mM][lL][cC]
rt/CICS/TEST/TESTBEC1.[mM][lL][cC]
rt/CICS/TEST/TESTBEC2.[mM][lL][cC]
rt/CICS/TEST/TESTBEC4.[mM][lL][cC]
rt/CICS/TEST/TESTBEC5.[mM][lL][cC]
rt/CICS/TEST/TESTBEC6.[mM][lL][cC]
rt/CICS/TEST/TESTBEC7.[mM][lL][cC]
rt/CICS/TEST/TESTBEC8.[mM][lL][cC]
rt/CICS/TEST/TESTBEC9.[mM][lL][cC]
rt/CICS/TEST/TESTBMC1.[mM][lL][cC]
rt/CICS/TEST/TESTICC1.[mM][lL][cC]
rt/CICS/TEST/TESTVSC1.[mM][lL][cC]
rt/CICS/TEST/TESTVSC2.[mM][lL][cC]
rt/CICS/TEST/TESTVSC3.[mM][lL][cC]
rt/CICS/TEST/SAVE/TESTBEC1.[mM][lL][cC]
rt/CICS/TEST/SAVE/TESTBEC2.[mM][lL][cC]
rt/CICS/TEST/SAVE/TESTBEC4.[mM][lL][cC]
rt/CICS/TEST/SAVE/TESTBEC5.[mM][lL][cC]
rt/CICS/TEST/SAVE/TESTBEC6.[mM][lL][cC]
rt/CICS/TEST/SAVE/TESTBEC7.[mM][lL][cC]
rt/CICS/TEST/SAVE/TESTBEC8.[mM][lL][cC]
rt/CICS/TEST/SAVE/TESTBEC9.[mM][lL][cC]
rt/CICS/TEST/SAVE/TESTBMC1.[mM][lL][cC]
rt/CICS/TEST/SAVE/TESTICC1.[mM][lL][cC]
rt/CICS/TEST/SAVE/TESTVSC1.[mM][lL][cC]
rt/CICS/TEST/SAVE/TESTVSC2.[mM][lL][cC]
rt/CICS/TEST/SAVE/TESTVSC3.[mM][lL][cC]
rt/soa/demo/dif/.[mM][lL][cC]
rt/soa/demo/dif/DEMOCMGR.[mM][lL][cC]
rt/soa/demo/dif/DEMOMAIN.[mM][lL][cC]
rt/soa/demo/dif/DEMOSUB1.[mM][lL][cC]
rt/soa/demo/dif/DEMOSUB2.[mM][lL][cC]
rt/soa/demo/save/.[mM][lL][cC]
rt/soa/demo/save/DEMOCMGR.[mM][lL][cC]
rt/soa/demo/save/DEMOMAIN.[mM][lL][cC]
rt/soa/demo/save/DEMOSUB1.[mM][lL][cC]
rt/soa/demo/save/DEMOSUB2.[mM][lL][cC]
rt/zpar/HELLO.[mM][lL][cC]
rt/zpar/dif/MISSING_HELLO.[mM][lL][cC]
soa/demo/.[mM][lL][cC]
soa/demo/DEMOCMGR.[mM][lL][cC]
soa/demo/DEMOMAIN.[mM][lL][cC]
soa/demo/DEMOSUB1.[mM][lL][cC]
soa/demo/DEMOSUB2.[mM][lL][cC]
vse/demo/DEMOVSE3.[tT][fF]
zcobol/demo/COMPSUM.[mM][lL][cC]
zcobol/demo/COPYFILE.[mM][lL][cC]
zcobol/demo/COPYFILE_OLD.[mM][lL][cC]
zcobol/demo/DATETIME.[mM][lL][cC]
zcobol/demo/HELLO.[mM][lL][cC]
zcobol/demo/POWERS.[mM][lL][cC]
zcobol/demo/U1.[mM][lL][cC]
zcobol/demo/U2.[mM][lL][cC]
zcobol/demo/U4.[mM][lL][cC]
zcobol/demo/U6.[mM][lL][cC]
zcobol/demo/U6B.[mM][lL][cC]
zcobol/demo/UPROGRAM.[mM][lL][cC]
zcobol/demo/USET.[mM][lL][cC]
zcobol/test/TESTADD1.[mM][lL][cC]
zcobol/test/TESTADD2.[mM][lL][cC]
zcobol/test/TESTIF1.[mM][lL][cC]
zcobol/test/TESTIF2.[mM][lL][cC]
zcobol/test/TESTIF3.[mM][lL][cC]
zcobol/test/TESTMOV1.[mM][lL][cC]
zcobol/test/TESTMOV2.[mM][lL][cC]
zcobol/test/TESTMOV3.[mM][lL][cC]
zcobol/test/YOUZPI1.[mM][lL][cC]
zcobol/test/YOUZPI2.[mM][lL][cC]
zcobol/tests/TESTADD1.[mM][lL][cC]
zcobol/tests/TESTADD2.[mM][lL][cC]
zcobol/tests/TESTIF1.[mM][lL][cC]
zcobol/tests/TESTIF2.[mM][lL][cC]
zcobol/tests/TESTIF3.[mM][lL][cC]
zcobol/tests/TESTMOV1.[mM][lL][cC]
zcobol/tests/TESTMOV2.[mM][lL][cC]
zcobol/tests/TESTMOV3.[mM][lL][cC]
linklib/ZSTRMAC.[mM][lL][cC]
rt/demo/dif/DEMOM8Q1.[mM][lL][cC]
rt/demo/save/DEMOM8Q1.[mM][lL][cC]
rt/linklib/dif/ZSTRMAC.[mM][lL][cC]
rt/linklib/save/ZSTRMAC.[mM][lL][cC]
rt/test/TESTSPE1.[mM][lL][cC]
rt/test/TESTSPE1.[tT][xX][tT]
rt/test/TESTSPE2.[mM][lL][cC]
rt/test/TESTSPE3.[mM][lL][cC]
rt/test/TESTSPE4.[mM][lL][cC]
rt/test/ZSTRMAC2.[mM][lL][cC]
rt/test/dif/TESTSPE1.[mM][lL][cC]
rt/test/dif/TESTSPE2.[mM][lL][cC]
rt/test/dif/TESTSPE3.[mM][lL][cC]
rt/test/dif/TESTSPE4.[mM][lL][cC]
rt/test/dif/ZSTRMAC2.[mM][lL][cC]
rt/test/save/TESTSPE1.[mM][lL][cC]
rt/test/save/TESTSPE2.[mM][lL][cC]
rt/test/save/TESTSPE3.[mM][lL][cC]
rt/test/save/TESTSPE4.[mM][lL][cC]
rt/test/save/ZSTRMAC2.[mM][lL][cC]

# Unneeded documents
**/[jJ][aA][vV][aA][dD][oO][cC]/
**/[wW][eE][bB][dD][oO][cC]*/
**/*.[bB][mM][pP]
**/*.[dD][oO][cC]
**/*.[dD][oO][cC][xX]
**/*.[gG][iI][fF]
**/*.[iI][cC][oO]
**/*.[jJ][pP][gG]
**/*.[pP][dD][fF]
**/*.[pP][nN][gG]
**/*.[pP][pP][tT]
**/*.[xX][lL][sS]
**/*.[xX][lL][sS][xX]
**/*.[xX][mM][lL]

# Backup and junk files
macold/
**/_private/
**/_vti_cnf/
**/_vti_pvt/
**/*_[oO][lL][dD].*
**/*.[bB][aA][kK]
**/*.[cC][pP]1
**/*.[cC][pP][lL]
**/*.[mM][aA]1
**/*.[sS][aA][vV]
**/*.[xX][xX][xX]
!util/superzap/*.[sS][aA][vV]
!linklib/ZAPDEMO1.[sS][aA][vV]
**/*.[tT][mM][pP]
**/*.[zZ][iI][pP]
**/*.KSF1ADDR
**/*(2).*
**/~*.*
**/*.*~
**/*.$$$
**/[dD][iI][fF]
**/[jJ][uU][nN][kK].*
**/[tT][eE][mM][pP].*
**/[tT][eE][mM][pP][1-9].*
**/[A-Z][A-Z][A-Z][A-Z][A-Z][A-Z][A-Z][A-Z]
!**/[A-Z][A-Z][A-Z][A-Z][A-Z][A-Z][A-Z][A-Z]/
**/* - Copy.*
**/[cC][iI][cC][sS]
!**/[cC][iI][cC][sS]/
zpar/*.[dD][aA][tT]
DUMMY

# Generated files without filetype
linklib/CVTTOHEX
linklib/DAT
linklib/FPCONMFC
linklib/FPCONVRT
linklib/IEFBR14
linklib/REPRO
linklib/RTGENCMP
linklib/RTGENDIF
linklib/RTGENDIR
linklib/rtlink
linklib/SQXTR
linklib/SUPERZAP
linklib/UNREF
linklib/ZSTRMAC
rt/RTGENCMP
rt/all/CVTTOHEX
rt/all/DAT
rt/all/FPCONMFC
rt/all/FPCONVRT
rt/all/IEFBR14
rt/all/REPRO
rt/all/RTLINK
rt/all/SORT
rt/all/SQXTR
rt/all/SUPERZAP
rt/all/TESTACT1
rt/all/TESTAIN1
rt/all/TESTAIN2
rt/all/TESTAIN3
rt/all/TESTASC1
rt/all/TESTASC2
rt/all/TESTASC3
rt/all/TESTASC5
rt/all/TESTASM1
rt/all/TESTASM2
rt/all/TESTCAL1
rt/all/TESTCAL2
rt/all/TESTCDE1
rt/all/TESTCPY1
rt/all/TESTCPY2
rt/all/TESTDC1
rt/all/TESTDC2
rt/all/TESTDFP1
rt/all/TESTDFP2
rt/all/TESTDST1
rt/all/TESTENT1
rt/all/TESTENV1
rt/all/TESTEQU1
rt/all/TESTERR1
rt/all/TESTERR2
rt/all/TESTERR3
rt/all/TESTERR4
rt/all/TESTERR5
rt/all/TESTERR6
rt/all/TESTERR7
rt/all/TESTERR8
rt/all/TESTERR9
rt/all/TESTERRA
rt/all/TESTEXT1
rt/all/TESTEXT2
rt/all/TESTFP1
rt/all/TESTFP2
rt/all/TESTINS1
rt/all/TESTINS2
rt/all/TESTINS3
rt/all/TESTINS4
rt/all/TESTLAB1
rt/all/TESTLCT1
rt/all/TESTLNK1
rt/all/TESTLOC1
rt/all/TESTMAC1
rt/all/TESTMAC2
rt/all/TESTMAC3
rt/all/TESTMAC4
rt/all/TESTMAC5
rt/all/TESTMAC6
rt/all/TESTMAC7
rt/all/TESTMAC8
rt/all/TESTMAC9
rt/all/TESTMCR1
rt/all/TESTOBJ1
rt/all/TESTOBJ2
rt/all/TESTOPR1
rt/all/TESTOPT1
rt/all/TESTORG1
rt/all/TESTPC1
rt/all/TESTPCH1
rt/all/TESTPCH2
rt/all/TESTPCH3
rt/all/TESTPRM1
rt/all/TESTPRM2
rt/all/TESTPRM3
rt/all/TESTPRM4
rt/all/TESTPRO1
rt/all/TESTPRT1
rt/all/TESTRLD1
rt/all/TESTRLD2
rt/all/TESTSDT1
rt/all/TESTSET1
rt/all/TESTSET2
rt/all/TESTSET3
rt/all/TESTSQL1
rt/all/TESTSUB1
rt/all/TESTSUB4
rt/all/TESTSYM1
rt/all/TESTSYN1
rt/all/TESTSYN2
rt/all/TESTSYS1
rt/all/TESTSYS2
rt/all/TESTTXT1
rt/all/TESTUSE1
rt/all/TESTUSE2
rt/all/TESTWXT1
rt/all/UNREF
rt/all/ZPARTRS
rt/all/ZSTRMAC
rt/demo/dif/ZPARTRS
rt/linklib/dif/CVTTOHEX
rt/linklib/dif/DAT
rt/linklib/dif/FPCONMFC
rt/linklib/dif/FPCONVRT
rt/linklib/dif/IEFBR14
rt/linklib/dif/REPRO
rt/linklib/dif/RTLINK
rt/linklib/dif/SORT
rt/linklib/dif/SQXTR
rt/linklib/dif/SUPERZAP
rt/linklib/dif/UNREF
rt/linklib/dif/ZSTRMAC
rt/linklib/save/CVTTOHEX
rt/linklib/save/DAT
rt/linklib/save/FPCONMFC
rt/linklib/save/FPCONVRT
rt/linklib/save/IEFBR14
rt/linklib/save/REPRO
rt/linklib/save/RTGENDIF
rt/linklib/save/RTGENDIR
rt/linklib/save/rtlink
rt/linklib/save/SQXTR
rt/linklib/save/SUPERZAP
\rt/linklib/save/UNREF
rt/linklib/save/ZSTRMAC
rt/test/TESTACT1
rt/test/TESTAIN1
rt/test/TESTAIN2
rt/test/TESTAIN3
rt/test/TESTASC1
rt/test/TESTASC2
rt/test/TESTASC5
rt/test/TESTASM1
rt/test/TESTASM2
rt/test/TESTCAL1
rt/test/TESTCAL2
rt/test/TESTCDE1
rt/test/TESTCPY1
rt/test/TESTCPY2
rt/test/TESTDC1
rt/test/TESTDC2
rt/test/TESTDFP2
rt/test/TESTDST1
rt/test/TESTENT1
rt/test/TESTENV1
rt/test/TESTEQU1
rt/test/TESTERR1
rt/test/TESTERR2
rt/test/TESTERR3
rt/test/TESTERR4
rt/test/TESTERR5
rt/test/TESTERR6
rt/test/TESTERR7
rt/test/TESTERR8
rt/test/TESTERR9
rt/test/TESTERRA
rt/test/TESTEXT1
rt/test/TESTEXT2
rt/test/TESTFP2
rt/test/TESTLAB1
rt/test/TESTLCT1
rt/test/TESTLNK1
rt/test/TESTLOC1
rt/test/TESTMAC1
rt/test/TESTMAC2
rt/test/TESTMAC3
rt/test/TESTMAC4
rt/test/TESTMAC5
rt/test/TESTMAC6
rt/test/TESTMAC7
rt/test/TESTMAC8
rt/test/TESTMAC9
rt/test/TESTMCR1
rt/test/TESTOBJ1
rt/test/TESTOBJ2
rt/test/TESTOPR1
rt/test/TESTOPT1
rt/test/TESTORG1
rt/test/TESTPC1
rt/test/TESTPCH1
rt/test/TESTPCH2
rt/test/TESTPCH3
rt/test/TESTPRM1
rt/test/TESTPRM2
rt/test/TESTPRM3
rt/test/TESTPRM4
rt/test/TESTPRO1
rt/test/TESTPRT1
rt/test/TESTRLD1
rt/test/TESTRLD2
rt/test/TESTSDT1
rt/test/TESTSET1
rt/test/TESTSET2
rt/test/TESTSET3
rt/test/TESTSQL1
rt/test/TESTSUB1
rt/test/TESTSUB4
rt/test/TESTSYM1
rt/test/TESTSYN1
rt/test/TESTSYN2
rt/test/TESTSYS1
rt/test/TESTSYS2
rt/test/TESTTXT1
rt/test/TESTUSE1
rt/test/TESTUSE2
rt/test/TESTWXT1
rt/test/dif/TESTACT1
rt/test/dif/TESTAIN1
rt/test/dif/TESTAIN2
rt/test/dif/TESTAIN3
rt/test/dif/TESTASC1
rt/test/dif/TESTASC2
rt/test/dif/TESTASC3
rt/test/dif/TESTASC5
rt/test/dif/TESTASM1
rt/test/dif/TESTASM2
rt/test/dif/TESTCAL1
rt/test/dif/TESTCAL2
rt/test/dif/TESTCDE1
rt/test/dif/TESTCPY1
rt/test/dif/TESTCPY2
rt/test/dif/TESTDC1
rt/test/dif/TESTDC2
rt/test/dif/TESTDFP1
rt/test/dif/TESTDFP2
rt/test/dif/TESTDST1
rt/test/dif/TESTENT1
rt/test/dif/TESTENV1
rt/test/dif/TESTEQU1
rt/test/dif/TESTERR1
rt/test/dif/TESTERR2
rt/test/dif/TESTERR3
rt/test/dif/TESTERR4
rt/test/dif/TESTERR5
rt/test/dif/TESTERR6
rt/test/dif/TESTERR7
rt/test/dif/TESTERR8
rt/test/dif/TESTERR9
rt/test/dif/TESTERRA
rt/test/dif/TESTEXT1
rt/test/dif/TESTEXT2
rt/test/dif/TESTFP1
rt/test/dif/TESTFP2
rt/test/dif/TESTINS1
rt/test/dif/TESTINS2
rt/test/dif/TESTINS3
rt/test/dif/TESTINS4
rt/test/dif/TESTLAB1
rt/test/dif/TESTLCT1
rt/test/dif/TESTLNK1
rt/test/dif/TESTLOC1
rt/test/dif/TESTMAC1
rt/test/dif/TESTMAC2
rt/test/dif/TESTMAC3
rt/test/dif/TESTMAC4
rt/test/dif/TESTMAC5
rt/test/dif/TESTMAC6
rt/test/dif/TESTMAC7
rt/test/dif/TESTMAC8
rt/test/dif/TESTMAC9
rt/test/dif/TESTMCR1
rt/test/dif/TESTOBJ1
rt/test/dif/TESTOBJ2
rt/test/dif/TESTOPR1
rt/test/dif/TESTOPT1
rt/test/dif/TESTORG1
rt/test/dif/TESTPC1
rt/test/dif/TESTPCH1
rt/test/dif/TESTPCH2
rt/test/dif/TESTPCH3
rt/test/dif/TESTPRM1
rt/test/dif/TESTPRM2
rt/test/dif/TESTPRM3
rt/test/dif/TESTPRM4
rt/test/dif/TESTPRO1
rt/test/dif/TESTPRT1
rt/test/dif/TESTRLD1
rt/test/dif/TESTRLD2
rt/test/dif/TESTSDT1
rt/test/dif/TESTSET1
rt/test/dif/TESTSET2
rt/test/dif/TESTSET3
rt/test/dif/TESTSQL1
rt/test/dif/TESTSUB1
rt/test/dif/TESTSUB4
rt/test/dif/TESTSYM1
rt/test/dif/TESTSYN1
rt/test/dif/TESTSYN2
rt/test/dif/TESTSYS1
rt/test/dif/TESTSYS2
rt/test/dif/TESTTXT1
rt/test/dif/TESTUSE1
rt/test/dif/TESTUSE2
rt/test/dif/TESTWXT1
rt/test/save/TESTACT1
rt/test/save/TESTAIN1
rt/test/save/TESTAIN2
rt/test/save/TESTAIN3
rt/test/save/TESTASC1
rt/test/save/TESTASC2
rt/test/save/TESTASC3
rt/test/save/TESTASC5
rt/test/save/TESTASM1
rt/test/save/TESTASM2
rt/test/save/TESTCAL1
rt/test/save/TESTCAL2
rt/test/save/TESTCDE1
rt/test/save/TESTCPY1
rt/test/save/TESTCPY2
rt/test/save/TESTDC1
rt/test/save/TESTDC2
rt/test/save/TESTDFP1
rt/test/save/TESTDFP2
rt/test/save/TESTDST1
rt/test/save/TESTENT1
rt/test/save/TESTENV1
rt/test/save/TESTEQU1
rt/test/save/TESTERR1
rt/test/save/TESTERR2
rt/test/save/TESTERR3
rt/test/save/TESTERR4
rt/test/save/TESTERR5
rt/test/save/TESTERR6
rt/test/save/TESTERR7
rt/test/save/TESTERR8
rt/test/save/TESTERR9
rt/test/save/TESTERRA
rt/test/save/TESTEXT1
rt/test/save/TESTEXT2
rt/test/save/TESTFP1
rt/test/save/TESTFP2
rt/test/save/TESTINS1
rt/test/save/TESTINS2
rt/test/save/TESTINS3
rt/test/save/TESTINS4
rt/test/save/TESTLAB1
rt/test/save/TESTLCT1
rt/test/save/TESTLNK1
rt/test/save/TESTLOC1
rt/test/save/TESTMAC1
rt/test/save/TESTMAC2
rt/test/save/TESTMAC3
rt/test/save/TESTMAC4
rt/test/save/TESTMAC5
rt/test/save/TESTMAC6
rt/test/save/TESTMAC7
rt/test/save/TESTMAC8
rt/test/save/TESTMAC9
rt/test/save/TESTMCR1
rt/test/save/TESTOBJ1
rt/test/save/TESTOBJ2
rt/test/save/TESTOPR1
rt/test/save/TESTOPT1
rt/test/save/TESTORG1
rt/test/save/TESTPC1
rt/test/save/TESTPCH1
rt/test/save/TESTPCH2
rt/test/save/TESTPCH3
rt/test/save/TESTPRM1
rt/test/save/TESTPRM2
rt/test/save/TESTPRM3
rt/test/save/TESTPRM4
rt/test/save/TESTPRO1
rt/test/save/TESTPRT1
rt/test/save/TESTRLD1
rt/test/save/TESTRLD2
rt/test/save/TESTSDT1
rt/test/save/TESTSET1
rt/test/save/TESTSET2
rt/test/save/TESTSET3
rt/test/save/TESTSQL1
rt/test/save/TESTSUB1
rt/test/save/TESTSUB4
rt/test/save/TESTSYM1
rt/test/save/TESTSYN1
rt/test/save/TESTSYN2
rt/test/save/TESTSYS1
rt/test/save/TESTSYS2
rt/test/save/TESTTXT1
rt/test/save/TESTUSE1
rt/test/save/TESTUSE2
rt/test/save/TESTWXT1

# Start ignore rules for docs here
!doc/**
!doc_overrides/**
!z390site/**
