# Java compiler output stuff
**/*.[jJ][aA][rR]
**/*.[eEe][xX][eE]
**/*.[lL][iI][nN][kK]

# Assembler/emulator and other input stuff
# **/*.bat --> Dos command files
# **/*.cbl --> Cobol source code
# **/*.cpy --> Assembler copy members
# **/*.in[0-9] --> Test input data
# **/*.ini --> Initialization file
# **/*.ivp --> Data for Installation Verification Procedure
# **/*.lkd --> Link-edit instructions
# **/*.mac --> Macro definitions
# **/*.man --> Manifesto file
# **/*.mcr --> Macro definitions
# **/*.mlc --> Assembler source code
# **/*.opt --> Assembler options file
# **/*.pl  --> perl script
# **/*.rtf --> rtf documents
# **/*.tf[1-3] --> test data files
# **/*.tq[1-3] --> test data files
# **/*.txt --> plain text documents
# **/*.ver --> version info files
# **/*.xgt --> XGET input file
# **/*.xrd --> XREAD input file
# **/*.zap --> Superzap script files
# **/*.zsm --> HLASM source code needing to be pre-processed by ZSTRMAC
# util/superzap/*.sav --> Saved version of input file

# Assembler/emulator output stuff
[jJ][aA][rR]*/
**/*.class
**/*.390
**/*.[bB][aA][lL]
**/*.[dD][fF]?
**/*.[dD][iI]?
**/*.[eE][rR][rR]
**/*.[iI][mM][gG]
**/*.[lL][oO][gG]
**/*.[lL][sS][tT]
**/*.[oO][bB][jJ]
**/*.[oO][uU][tT]
**/*.[pP][cC][hH]
**/*.[pP][rR]1
**/*.[pP][rR][nN]
**/*.[rR][pP][tT]
**/*.[sS][fF][0-9]
**/*.[sS][tT][aA]
**/*.[sS][vV]*
**/*.[tT][fF][0-9]
!**/*.[tT][fF][1-3]
**/*.[tT][rR]?
**/*.[tT][sS][tT]
**/*.[xX][pP][hH]
**/*_ZC_LABELS.CPY

# Other output stuff
**/[aA][lL][lL]/
**/[cC][lL][aA][sS][sS][eE][sS]/
**/[dD][iI][fF]/
**/[dD][iI][fF][fF]/
**/[sS][aA][vV][eE]/
**/*.[bB][mM][kK]
**/*.[hH][tT][mM]
**/*.[hH][tT][mM][lL]
**/*.[oO][tT][1-9]
# *.RLE / *.RLG / *.RUE / *.RUG
**/*.[rR][lLuU][eEgG]
**/*.[uU][lL][dD]
**/*.[uU][rR][fF]
**/*.[vV][eE][sS]
# *.VX0 / *.VXN
**/*.[vV][xX][0nN]
linklib/RTGENCMP.[dD][aA][tT]
linklib/ZAPDEMO1.[dD][aA][tT]
rt/rtgendr[1-3].[dD][aA][tT]
util/superzap/*.[dD][aA][tT]

# redirection files
**/*.[lL][nN][kK]

# Cobol related stuff
**/.[cC][bB][lL]
zcobol/**/*.[hH][lL][aA]
zcobol/**/*.[dD][eE][cC]
zcobol/**/[zZ]390
zcobol/demo/i586/
zcobol/demo/java/
zcobol/demo/vce/
zcobol/demo/z390/
zcobol/test/z390/

# Generated .mlc files
demo/DEMOM8Q1.[mM][lL][cC]
linklib/ZSTRMAC.[mM][lL][cC]
rt/demo/dif/DEMOM8Q1.[mM][lL][cC]
rt/demo/save/DEMOM8Q1.[mM][lL][cC]
rt/linklib/dif/ZSTRMAC.[mM][lL][cC]
rt/linklib/save/ZSTRMAC.[mM][lL][cC]
rt/test/TESTSPE1.[mM][lL][cC]
rt/test/TESTSPE2.[mM][lL][cC]
rt/test/TESTSPE3.[mM][lL][cC]
rt/test/TESTSPE4.[mM][lL][cC]
rt/test/TESTZSM1.[mM][lL][cC]
rt/test/TESTZSM3.[mM][lL][cC]
rt/test/TESTZSM4.[mM][lL][cC]
rt/test/ZSTRMAC2.[mM][lL][cC]
rt/test/dif/TESTSPE1.[mM][lL][cC]
rt/test/dif/TESTSPE2.[mM][lL][cC]
rt/test/dif/TESTSPE3.[mM][lL][cC]
rt/test/dif/TESTSPE4.[mM][lL][cC]
rt/test/dif/TESTZSM1.[mM][lL][cC]
rt/test/dif/TESTZSM3.[mM][lL][cC]
rt/test/dif/TESTZSM4.[mM][lL][cC]
rt/test/dif/ZSTRMAC2.[mM][lL][cC]
rt/test/save/TESTSPE1.[mM][lL][cC]
rt/test/save/TESTSPE2.[mM][lL][cC]
rt/test/save/TESTSPE3.[mM][lL][cC]
rt/test/save/TESTSPE4.[mM][lL][cC]
rt/test/save/TESTZSM1.[mM][lL][cC]
rt/test/save/TESTZSM3.[mM][lL][cC]
rt/test/save/TESTZSM4.[mM][lL][cC]
rt/test/save/ZSTRMAC2.[mM][lL][cC]

# Unneeded documents
**/[jJ][aA][vV][aA][dD][oO][cC]/
**/[wW][eE][bB][dD][oO][cC]*/
**/*.[bB][mM][pP]
**/*.[dD][oO][cC]
**/*.[gG][iI][fF]
**/*.[iI][cC][oO]
**/*.[jJ][pP][gG]
**/*.[pP][dD][fF]
**/*.[pP][nN][gG]
**/*.[pP][pP][tT]
**/*.[xX][lL][sS]
**/*.[xX][mM][lL]

# Backup and junk files
**/_private/
**/_vti_cnf/
**/_vti_pvt/
**/*.[bB][aA][kK]
**/*.[cC][pP][lL]
**/*.[mM][aA]1
**/*.[sS][aA][vV]
!util/superzap/*.[sS][aA][vV]
!linklib/ZAPDEMO1.[sS][aA][vV]
**/*.[tT][mM][pP]
**/*.[zZ][iI][pP]
**/*(2).*
**/~*.*
**/*.*~
**/*.$$$
**/[jJ][uU][nN][kK].*
**/[tT][eE][mM][pP].*
**/[tT][eE][mM][pP][1-9].*
**/[A-Z][A-Z][A-Z][A-Z][A-Z][A-Z][A-Z][A-Z]
!**/[A-Z][A-Z][A-Z][A-Z][A-Z][A-Z][A-Z][A-Z]/
**/* - Copy.*
**/[cC][iI][cC][sS]
!**/[cC][iI][cC][sS]/
zpar/*.[dD][aA][tT]