name: Publish docs via GitHub Pages
on:
  push:
    branches:
      - main
      - feature/**

jobs:
  deploy:
    name: Deploy docs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - run: pip install -r doc/requirements.txt
      - run: mkdocs gh-deploy --force